---
import { z } from "astro/zod";
import ContactForm from "../components/ContactForm.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import nodemailer from "nodemailer";

const emailConfiguration = z
  .object({
    SMTP_HOST: z.string(),
    SMTP_PORT: z.coerce.number(),
    SMTP_AUTH_USER: z.string(),
    SMTP_AUTH_PASSWORD: z.string(),
  })
  .parse({
    SMTP_HOST: "",
    SMTP_PORT: "465",
    SMTP_AUTH_USER: "",
    SMTP_AUTH_PASSWORD: "",
  });

const transporter = nodemailer.createTransport({
  host: emailConfiguration.SMTP_HOST,
  port: emailConfiguration.SMTP_PORT,
  secure: true,
  auth: {
    user: emailConfiguration.SMTP_AUTH_USER,
    pass: emailConfiguration.SMTP_AUTH_PASSWORD,
  },
});

const FormSchema = z.object({
  firstName: z.string(),
  lastName: z.string(),
  email: z.string().email(),
  phoneNumber: z.string().optional(),
  request: z.string(),
  message: z.string(),
});

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = FormSchema.safeParse({
    firstName: formData.get("firstName"),
    lastName: formData.get("lastName"),
    email: formData.get("email"),
    phoneNumber: formData.get("phoneNumber") ?? undefined,
    request: formData.get("request"),
    message: formData.get("message"),
  });
  if (!response.success) {
    return Astro.redirect("/contact?errorSendingMessage");
  }
  const { email, request, firstName, lastName, message, phoneNumber } =
    response.data;

  await transporter.sendMail({
    from: '"Bellezza di Em" <hello@bellezzadiem.fr>',
    to: ["hello@bellezzadiem.fr", email],
    subject: `${request} - ${firstName} ${lastName}`,
    text: `
    ${message}

    ${phoneNumber}
    `,
  });
  return Astro.redirect("/contact?success");
}
---

<Layout title="Bellezza di Em - Contact">
  <main class="container mx-auto p-3">
    <div class="my-6">
      <Header />
    </div>
    <section class="flex justify-center">
      <ContactForm />
    </section>
    {
      Astro.url.searchParams.get("errorSendingMessage") !== null && (
        <div
          class="p-4 mt-4 text-sm text-red-800 rounded-lg bg-red-50"
          role="alert"
        >
          <a href="contact">
            <Icon name="uil:multiply" size={20} class="inline-block mr-3" />
          </a>
          <span class="font-medium">Oups!</span>
          Impossible d'envoyer le formulaire. Vérifiez d'avoir rempli les champs
          nécessaires correctement.
        </div>
      )
    }
    {
      Astro.url.searchParams.get("success") !== null && (
        <div
          class="p-4 mt-4 text-sm text-green-800 rounded-lg bg-green-50"
          role="alert"
        >
          <a href="contact">
            <Icon name="uil:multiply" size={20} class="inline-block mr-3" />
          </a>
          <span class="font-medium">Envoyé!</span>
          Votre message a été envoyé avec succès.
        </div>
      )
    }
  </main>
</Layout>
